<div>
	<h1>Create an Account</h1>
	<form method="post" action"/signup">
		<span>Email: </span>
		<input type="email" name="email" require=true>
		<br>

		<span>Password: </span>
		<input type="password" name="password" required=true>
		<br>

		<span>Password confirmation: </span>
		<input type="password" name="passwordConfirmation" required=true>
		<br>

		<input type="submit">

	</form>
</div>